# Python
backend/.venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/dist/

# Databases
app.db
backend/app.db

# Env
.env
.env.local

# Editor
.vscode/
.DS_Store
.idea/

# Alembic
backend/alembic/*.pyc
